# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local files
local-*

# Compiled resources
*.aps

# Visual Studio internal stuff
.vs

# Visual studio local user
*.vcxproj.user

# Output directories
Debug
Release
userdetails/Debug
x64/
userdetails/x64
